*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --black: #1b1b1e;
    --grey-used: rgba(44, 44, 44, 0.5);
    --white: #ffffff;
    --bg-color: #f5f5f5;
    --blue-light: #007bff;
    --blue-dark: #0056b3;
    /* --grey-dark: #27272a; */
    /* --grey-light: #36363b; */
    /* --red-light: rgba(227, 38, 82, 255);
    --red_dark: rgba(227, 38, 82, 10); */
    /* --green: rgba(0, 255, 255, 0.2); */
}

.dark-theme {
    --black: #ffffff;
    --white: #000;
    --grey-used: #f5f5f5;
    --bg-color: rgba(44, 44, 44, 0.5);
}

.dark-theme-nav {
    --black: var(--blue-light);
    --white: #000;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}

.main-nav {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 1rem;
    background-color: var(--blue-light);
    border-bottom: 1px solid #2c2c2c;
    box-shadow: 0 2px 4px var(--white);
    align-items: center;
}

.main-nav-list {
    display: grid;
    grid-template-columns: 3fr 1.5fr 2fr 1.5fr 1.5fr 0.5fr;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.main-nav-list li {
    display: flex;
    justify-content: center;
}

.main-nav-list:nth-child(1) {
    display: block;
}

@media screen and (max-width: 1194px){
    /* MOBILE NAVIGATION */
    .main-nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
        width: 200px;
        z-index: 1000;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .main-nav-list.show {
        display: flex;
    }

    .btn-mobile-nav {
        display: block;
    }

    .icon-mobile-nav.close-icon {
        display: none;
    }

    .btn-mobile-nav.open .icon-mobile-nav.menu-icon {
        display: none;
    }

    .btn-mobile-nav.open .icon-mobile-nav.close-icon {
        display: block;
    }

    /* .menu-icon {
        display: inline-block;
    }

    .close-icon {
        display: none;
    }

    .btn-mobile-nav.active .menu-icon {
        display: none;
    }

    .btn-mobile-nav.active .close-icon {
        display: inline-block;
    }  */
}

a .logo{
    color: var(--white);
    font-weight: 700;
    font-size: 2.6rem;
    text-decoration: none;
}

/* ################### Dropdown Menu */
.dropdown {
    font-size: 1.6rem;
    width: 200%;
}
  
.dropdown span{
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px var(--black);
    padding: 1.2rem 1.6rem;
    color: var(--black);
    z-index: 12;
}

.dropdown-content a{
    align-self: center;
    color: var(--black);
    padding: 2rem;
    display: block;
}

.dropdown-content a:hover{
    background-color: var(--blue-light);
}


.dropdown:hover .dropdown-content {
    display: block;
}

.btn-mobile-nav{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
.icon-mobile-nav{
    display: none;
    font-size: 2rem;
}

/* ################### Search bar */
.search-bar{
    display: grid;
    grid-template-columns: 8fr 0fr;
    align-items: center;
    margin: auto 0;
    background-color: #ffffff;
}

.search-bar input{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 0.7rem 0;
    font-size: 1.6rem;
    position: relative;
}

.search-bar input:focus{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid var(--blue-light);
}

.search-bar input::placeholder{
    font-size: 1.2rem;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    opacity: 0.2;
}

.search-bar button img{
    width: 1.5rem;
    filter: brightness(0.1);
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: inherit;
    cursor: pointer;
}

.main-nav li a{
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
}

.login, .signup{
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.login:hover, .signup:hover{
    cursor: pointer;
}

.login{
    background-color: #FFFFFF;
    transform: translateX(50%);
    border: 1px solid #000000;
}

.signup{
    color: #FFFFFF;
    background-color: #000000;
}

/* ############################# After logged in */

.prenom{
    background-color: var(--white);
    color: var(--grey-used);
    font-size: 1.2rem;
    font-weight: 500;
    align-self: center;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    width: fit-content;
    margin: auto 0;
    gap: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.7rem 3rem;
}
